<!--start topic list for forum <!-- |forum_id| -->-->
<div id="topic-list" class="f-<!-- |forum_id| -->">
  <div class="maintitle">
    <{CAT_IMG}>
    <!-- |forum_name| -->
  </div>
  <!-- start announcements -->
  <div class="announcements"><% ANNOUNCEMENTS %></div>
  <!-- end announcements -->
  <div class="topic-forum-container"><% TOPIC_ROWS %></div>
  <!-- |mod_form_end| -->
  <div class="forum-active"><!-- |forum_active| --></div>
  <!-- |sort_options| -->
</div>
<!--end topic list for forum <!-- |forum_id| -->-->
