<!--start topic list for forum <!-- |forum_id| -->-->
<div id="topic-list" class="f-<!-- |forum_id| -->">
  <div class="maintitle">
    <{CAT_IMG}>
    <!-- |forum_name| -->
  </div>
  <!-- start announcements -->
  <div class="announcements"><% ANNOUNCEMENTS %></div>
  <!-- end announcements -->
  <div class="topic-forum-container"><% TOPIC_ROWS %></div>
  <!-- |mod_form_end| -->
  <div class="forum-active"><!-- |forum_active| --></div>
  <!-- |sort_options| -->
</div>
<!--end topic list for forum <!-- |forum_id| -->-->

<script>
  // replace the existing mark as read/sub to forum links with buttons
  $(document).ready(function () {
    if ($('#mark-as-read-subto').length) {
      const forumID = `<!-- |forum_id| -->`;
      $('#mark-as-read-subto').html(`
      <button class="button-54" role="button"><a href="?act=Login&CODE=04&f=${forumID}" title="Mark This Forum As Read"> <i class="fa-solid fa-check-to-slot"></i> Mark Forum Read </a></button>
  <button class="button-54" role="button"><a href="?act=Track&f=${forumID}&type=forum" title="Subscribe to This Forum"> <i class="fa-solid fa-bell"></i> Subscribe to Forum </a></button>
  `);
    }
  });
</script>
