<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="one on one roleplay, roleplay, one on one roleplays, roleplayer, one on one roleplay search, roleplay search, roleplay partner, roleplay partners, find a roleplay, barbermonger" />
    <meta
      name="description"
      content="BARBERMONGER is a site designed to help roleplayers find other roleplayers, specifically one-on-one roleplayers, as opposed to larger roleplay games. Functioning like a pinboard, BARBERMONGER allows users to create advertisements, bump advertisements, and respond to other advertisements, without requiring them to register an account." />
    <title><% TITLE %></title>
    <!-- DO NOT ADD TO OR EDIT ANYTHING ABOVE THIS LINE -->

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="https://files.jcink.net/uploads/barbermonger/Logos/faviconcirucs.ico" />

    <!-- START CSS -->
    <!-- font icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Righteous&family=Rye&family=Tilt+Neon&display=swap"
      rel="stylesheet" />
    <% CSS %>
    <!-- end CSS -->

    <!-- start JavaScript files -->

    <!-- required by jcink DO NOT MOVE DO NOT TOUCH -->
    <!-- NOTE: JQuery is backwards compatible, you only need the most recent version, don't install any others  -->
    <script src="https://files.jcink.net/html/jquery-3.7.1.min.js"></script>
    <script src="https://files.jcink.net/html/catcollapse.js" async></script>
    <!-- end required -->

    <script>
      // set dark/light mode before page load
      if (localStorage.theme) {
        document.documentElement.setAttribute('data-theme', localStorage.theme);
      } else {
        // if you want to change the default from light to dark, change 'light' to 'dark'
        document.documentElement.setAttribute('data-theme', 'dark');
      }
    </script>
    <!-- end JavaScript files -->
  </head>

  <body id="<!-- |input_act| -->" class="code-<!-- |input_CODE| -->">
    <!-- start site wrapper -->
    <div id="wrapper">
      <!-- start navigation bar -->
      <div id="navigation-wrapper">
        <!-- start nav top bar -->
        <div id="navigation">
          <!-- home and theme toggle buttons -->
          <div class="nav__icons--left">
            <a href="/index.php" title="Home">
              <i class="fas fa-home icons"></i>
            </a>
            <a href="#" title="Toggle Theme">
              <i class="fas fa-lightbulb icons"></i>
            </a>
          </div>
          <!-- end home and theme toggle buttons -->

          <!-- menu toggle button -->
          <div class="nav__menu">
            <button class="button-action">
              Menu
              <i class="fa-solid fa-circle-chevron-down rotate" title="Toggle Menu"></i>
            </button>
          </div>
          <!-- end menu toggle button -->

          <!-- top and bottom buttons -->
          <div class="nav__icons--right">
            <a href="#" title="Back to Top">
              <i id="click-up" class="fas fa-arrow-up icons"></i>
            </a>
            <a href="#" title="Down to Bottom">
              <i id="click-down" class="fas fa-arrow-down icons"></i>
            </a>
          </div>
          <!-- end top and bottom buttons -->

          <!-- site breadcrumbs -->
          <div id="navi"><% NAVIGATION %></div>
          <!-- end site breadcrumbs -->
        </div>
        <!-- end nav top bar -->

        <!-- start dropdown menu -->
        <div id="nav__userlinks" class="dropdown-menu">
          <div class="nav__userlinks--users">
            <!-- start guest info -->
            <div class="g-<!-- |g_id| -->" style="display: none">
              <strong> HI GUEST! </strong>
            </div>
            <div class="g-<!-- |g_id| --> logging" style="display: none">
              <a href="/index.php?act=Login&CODE=00" title="Log In"> LOG IN <i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i> </a>
              <a href="/index.php?act=Reg&CODE=00" title="Register"> REGISTER <i class="fa-solid fa-image-portrait fa-lg"></i> </a>
            </div>
            <!-- end guest info -->

            <!-- start logged in user info -->
            <strong class="m-<!-- |g_id| -->">
              <!-- |name| -->
            </strong>
            <a href="?act=Login&CODE=03" title="Log Out" id="log-out" class="m-<!-- |g_id| -->">
              Log Out <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
            </a>
            <div class="m-<!-- |g_id| --> account-switcher">
              <span id="change-skin-theme">
                <input
                  type="button"
                  onclick="document.getElementById('change-skin-theme').innerHTML=document.getElementById('skin_selector').innerHTML;"
                  value="Change Skin Theme" />
              </span>
            </div>
          </div>

          <div class="view-profile m-<!-- |g_id| -->">
            <a href="?showuser=<!-- |id| -->" title="View Profile"> <i class="fa-solid fa-circle-user"></i> User Profile </a>
          </div>
          <div class="my-controls m-<!-- |g_id| -->">
            <a href="?act=UserCP&CODE=00" title="User CP"> <i class="fa-solid fa-gear"></i> User CP </a>
          </div>
          <div class="active-topics m-<!-- |g_id| -->">
            <a href="?act=Search&CODE=getactive" title="View Active Topics"> <i class="fa-solid fa-bullhorn"></i> Active Topics </a>
          </div>
          <div class="my-messages m-<!-- |g_id| -->">
            <a href="?act=Msg&CODE=01" title="View Inbox">
              <i class="fa-solid fa-inbox"></i>
              <!-- |new_msg| -->
              messages
            </a>
          </div>
          <div class="view-new-posts m-<!-- |g_id| -->">
            <a href="?act=Search&CODE=getnew" title="View New Posts"> <i class="fa-solid fa-envelope-open"></i> New Posts </a>
          </div>
          <div class="mu-alerts m-<!-- |g_id| -->">
            <a href="?act=UserCP&CODE=alerts" title="View All Alerts">
              <i class="fa-solid fa-bell"></i>
              <!-- |new_alerts| -->
              alerts
            </a>
          </div>
          <div class="admin-cp m-<!-- |g_id| -->">
            <a href="/admin.php" class="acp-<!-- |g_access_cp| -->" target="_blank" title="Admin CP">
              <i class="fa-solid fa-screwdriver-wrench"></i> Admin CP
            </a>
          </div>
          <div class="mod-cp m-<!-- |g_id| -->">
            <a href="?act=modcp" class="mcp-<!-- |g_access_cp| -->" title="Mod CP">
              <i class="fa-solid fa-hammer"></i>
              <!-- |modcp_issues| -->
              Mod CP
            </a>
          </div>
          <!-- end logged in user info -->

          <!-- start quick links area -->
          <div class="quicklinks-1">
            <a href="?showforum=36" title="View Site Rules"> <i class="fa-solid fa-scale-balanced"></i> Site Rules </a>
          </div>

          <div class="quicklinks-2">
            <a href="?act=Search" title="Link to Jcink Search"> <i class="fa-solid fa-magnifying-glass"></i> Search </a>
          </div>

          <div class="quicklinks-3">
            <a href="https://discord.gg/barbermonger" title="Link to Discord"> <i class="fab fa-discord"></i> Discord </a>
          </div>

          <div class="quicklinks-4">
            <a href="?act=Members" title="Link to Member List"> <i class="fa-solid fa-address-book"></i> Member List </a>
          </div>

          <div class="quicklinks-5">
            <a href="?showtopic=10943" title="Link to Donation Thread"> <i class="fa-solid fa-piggy-bank"></i> Donate </a>
          </div>

          <div class="quicklinks-6">
            <a href="?c=511882" title="Link to RP Resources"> <i class="fa-solid fa-clipboard-user"></i> Resources </a>
          </div>
          <!-- end quick links area -->
        </div>
        <!-- end dropdown menu -->
      </div>
      <!-- end navigation bar -->

      <!-- start header area -->
      <div id="header">
        <a id="logo" href="/index.php" title="homepage"></a>
        <% BOARD HEADER %>
      </div>
      <!-- end header area -->

      <!-- start forum -->
      <div id="innerwrapper"><% BOARD %></div>
      <!-- end forum -->

      <!-- start footer -->
      <div id="footer">
        <div id="skin_selector"><% SKIN_SELECTOR %></div>
        <% AFFS %>
        <div id="copyright">
          <% COPYRIGHT %>
          <div class="skin-info">
            Skinned by Luna of Free Codes <br />Licensed under
            <a href="https://freecodes.jcink.net/index.php?showtopic=10">GNU Affero GPL v3</a>
          </div>
        </div>
      </div>
      <!-- end footer -->
    </div>
    <!-- end site wrapper -->

    <!-- all of your scripts for the site, unless your install guide tells you otherwise, should go BELOW this comment -->

    <!-- these scripts are for HTML/CSS pre-installed in the base skin, if you aren't using them you can safely remove -->
    <script src="https://files.jcink.net/uploads2/freecodes/shared/custom_navbar_scripts.js"></script>
    <script src="https://files.jcink.net/uploads2/freecodes/shared/modcp_styler.js"></script>
    <script src="https://files.jcink.net/uploads2/freecodes/shared/clipboard_copy_button.js"></script>
    <script src="https://files.jcink.net/uploads2/freecodes/shared/image_resizer.js"></script>
    <!-- end pre-installed scripts -->

    <!-- DO NOT ADD TO OR EDIT ANYTHING BELOW THIS LINE -->
  </body>
</html>
